<nz-card>
  <form nz-form [formGroup]="validateForm" (ngSubmit)="submit()">
    <nz-form-item>
      <nz-form-control>
        <nz-input-group nzPrefixIcon="lock">
          <input type="text" nz-input formControlName="token"/>
        </nz-input-group>
      </nz-form-control>
    </nz-form-item>
    <nz-form-item>
      <div nz-col [nzSpan]="12">
        <a (click)="requestSMSToken()" class="login-form-forgot">Resend the code</a>
      </div>
    </nz-form-item>
    <button nz-button nzSize="large" nzBlock [nzType]="'primary'">Submit</button>
  </form>
</nz-card>
