<ng-container *ngIf="hasWallet">
    <div class="d-flex flex-wrap mx-sm">
        <ng-container *ngFor="let wallet of wallets; trackBy: trackByFn">
            <ng-container *ngFor="let cash of wallet?.cashes; trackBy: trackByFn">
                <nz-tag class="mb-sm"
                        nzColor="#108ee9"
                        nz-tooltip
                        nzTooltipTitle="{{ cash?.binary_cash }}"
                >
                    {{ cash?.amount | number }} {{ cash?.cash_type | uppercase }}
                </nz-tag>
            </ng-container>
        </ng-container>
    </div>
</ng-container>

<!-- No wallet template -->
<ng-template #noWallet>
    <div class="text-center text-red-light">No wallet registered yet.</div>
</ng-template>
