<page-header title="User List" [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">Add new User</button>
  </ng-template>
</page-header>

<nz-card>
  <st #st
      [data]="data"
      [columns]="columns"
      [total]="meta.total"
      [ps]="meta.per_page"
      [pi]="meta.page"
      [page]="{front: false}"
      [loading]="loading"
      (change)="onPageChange($event)"
  >
    <ng-template st-row="cell-profile-img-tpl" let-item>
      <user-profile-image [src]="item.attributes.image?.thumbnail"></user-profile-image>
    </ng-template>
    <ng-template st-row="cell-locked-tpl" let-item>
      <user-status [attributes]="item.attributes"></user-status>
    </ng-template>
    <ng-template st-row="cell-roles-tpl" let-item>
      <nz-tag *ngFor="let role of item.relationships.roles.data">
        {{ role.attributes.display_name }}
      </nz-tag>
    </ng-template>
  </st>
</nz-card>
