<page-header [action]="phActionTpl">
  <ng-template #phActionTpl>
    <button (click)="add()" nz-button nzType="primary">Add new User</button>
  </ng-template>
</page-header>
<nz-card>

  <st #st
      [data]="data"
      [columns]="columns"
      [total]="meta.total"
      [ps]="meta.per_page"
      [pi]="meta.page"
      [page]="{front: false}"
      [loading]="loading"
      (change)="onPageChange($event)"
      [size]="'small'"
  >
    <ng-template st-row="cell-locked-tpl" let-item>
      <nz-badge [nzStatus]="item.status.type" [nzText]="item.status.text"></nz-badge>
    </ng-template>
    <ng-template st-row="cell-roles-tpl" let-item>
      <nz-tag *ngFor="let role of item.relationships.roles.data">
        {{ role.attributes.display_name }}
      </nz-tag>
    </ng-template>
  </st>
</nz-card>
